<% provide(:title, t("static_pages.contact.title")) %>
<h1><%= t("static_pages.contact.heading") %></h1>
<p><%= t("static_pages.contact.greeting", name: "Lê Tùng Bảo Ân") %></p>
<p><%= t("static_pages.contact.description") %></p>
<p><%= t("static_pages.contact.reach_out") %></p>
