<% provide :title, t(".title") %>
<h1><%= t(".title") %></h1>
<p><%= t(".get_help_html", help_url: Settings.development.external_links.rails_tutorial.help_page, book_url: Settings.development.external_links.rails_tutorial.book_page).html_safe %></p>
