<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= t("shared._error_messages.the_form_contains",
            count: @user.errors.count,
            error_word: t("shared._error_messages.error", count: @user.errors.count)) %>.
    </div>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
