@import "variables";

.microposts {
  list-style: none;
  padding: 0;

  .content {
    display: block;
    margin-left: 60px;

    img {
      display: block;
      padding: 5px 0;
    }
  }

  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }

  li {
    border-top: 1px solid #e8e8e8;
    padding: 10px 0;
  }

  .timestamp {
    color: $gray-lighter;
    display: block;
    margin-left: 60px;
  }

  .user {
    margin-top: 5em;
    padding-top: 0;
  }
}
